@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 3
   
   Layout Style Sheet for A Soldier's Scrapbook
   Author: Elizabeth Battenfield
   Date:   3/15/2022
   
   Filename: ss_layout.css

*/


/* Article Styles */
/*(4)style rule to float the article element on the left margin and set its width to 384 pixels*/



/* First Line and Drop Cap Styles */

/*(5) first line displayed in small capital letters. style rule for first paragraph and first line of that paragraph (aricle element)
   set font size to 1.25em and font variant to small-caps
	use first-of-type pseudo-class for paragraph and first-line pseudo-element foor the first line of tht paragraph*/

/*(6) first letter of the first line of artlce styles to be a drop cap. 
style rule for articles first paragraph and first letter that applies:
a) sets the size of the first letter to 4em in a serif font and floats it on the left
b) sets the line height to 0.8em
c) sets the right and bottom margins to 5 pixels
(hint use first-letter pseudo-element for the first letter of paragraph)*/ 

 

/* Aside Styles */




/* Map Styles */




/* Interactive Map Styles */




/* Map Information Styles */



